<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MEDIAI_APP"
        tools:targetApi="31">
        <activity
            android:name=".risklevelpage"
            android:exported="false" />
        <activity
            android:name=".successpage"
            android:exported="false" />
        <activity
            android:name=".sharepage"
            android:exported="false" />
        <activity
            android:name=".historypage"
            android:exported="false" />
        <activity
            android:name=".historypageframe"
            android:exported="false" />
        <activity
            android:name=".documentupload"
            android:exported="false" />
        <activity
            android:name=".symstomspage"
            android:exported="false" />
        <activity
            android:name=".launcher"
            android:exported="false" />
        <activity
            android:name=".cancerstages"
            android:exported="false" />
        <activity
            android:name=".stagesofcancer"
            android:exported="false" />
        <activity
            android:name=".breastcancerguide"
            android:exported="false" />
        <activity
            android:name=".healthguide"
            android:exported="false" />
        <activity
            android:name=".healthlifesytle"
            android:exported="false" />
        <activity
            android:name=".uploadedhistory"
            android:exported="false" />
        <activity
            android:name=".history"
            android:exported="false" />
        <activity
            android:name=".todolist"
            android:exported="false" />
        <activity
            android:name=".diagonispage"
            android:exported="false" />
        <activity
            android:name=".myprofilepage"
            android:exported="false" />
        <activity
            android:name=".logoutpage"
            android:exported="false" />
        <activity
            android:name=".notificationpage"
            android:exported="false" />
        <activity
            android:name=".passwordchangepage"
            android:exported="false" />
        <activity
            android:name=".editprofile"
            android:exported="false" />
        <activity
            android:name=".settingspage"
            android:exported="false" />
        <activity
            android:name=".confirmdeleteframe"
            android:exported="false" />
        <activity
            android:name=".deleteaccount"
            android:exported="false" />
        <activity
            android:name=".details_store"
            android:exported="false" />
        <activity
            android:name=".otpverification"
            android:exported="false" />
        <activity
            android:name=".ressetpassword"
            android:exported="false" />
        <activity
            android:name=".getstart"
            android:exported="false" />
        <activity
            android:name=".dashboardupdateded"
            android:exported="false" />
        <activity
            android:name=".treatmentframe"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".RiskPageActivity2"
            android:exported="false" />
        <activity
            android:name=".NumericalDatapageActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardpageActivity"
            android:exported="false" />
        <activity
            android:name=".UploadPagemedicalActivity"
            android:exported="false" />
        <activity
            android:name=".RiskpageActivity"
            android:exported="false" />
        <activity
            android:name=".AdddocumentActivity"
            android:exported="false" />
        <activity
            android:name=".UploadpageActivity"
            android:exported="false" />
        <activity
            android:name=".GuidencepageActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacysettingsActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacypolicyActivity"
            android:exported="false" />
        <activity
            android:name=".TermsconditionsActivity"
            android:exported="false" />
        <activity
            android:name=".EditprofileActivity"
            android:exported="false" />
        <activity
            android:name=".AppinfopageActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilepageActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseaccountActivity"
            android:exported="false" />
        <activity
            android:name=".ResetpasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotpasswordPageActivity"
            android:exported="false" />
        <activity
            android:name=".SignuppageActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPageActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>